<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="analytics">
      <section name="engine" type="Analytics.Analyzer.AnalysisEngineConfigurationSection, Analytics"/>
    </sectionGroup>
  </configSections>

  <analytics>
    <engine enabled="true">
      <analyzers>
        <clear/>
        <!--Google settings: timeout is in milliseconds, trackingId for GoogleAnalytics account-->
        <add name="Google" type="Analytics.Analyzer.Analyzer,Analytics.Analyzer" description="Google Analytics Provider" version="1" trackingId="XX-XXXXXXX-XXX" enabled="true" timeout="500"/>
      </analyzers>
    </engine>
  </analytics>

  <system.webServer>
    <modules>
      <!--Adding the Analytics Module to the project-->
      <add name="Analytics" type="Analytics.Analytics, Analytics"/>
    </modules>
  </system.webServer>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <!--Event Listener Log-->
        <add name="eventLogListener" type="System.Diagnostics.EventLogTraceListener" initializeData="Analytics"/>
        <!--File Error log example - this would create the file in the high level website directory -->
        <!--add name="textWriterListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="AnalyticsError.txt"/-->
      </listeners>
    </trace>
  </system.diagnostics>


</configuration>