<article id="printChecklist" class="row white">
    
    <ul class="collection with-header">
        <li class="collection-header">
            <h5>
                <span class="success-text">Checklist</span> for print quotes
            </h5>
        </li>
        
        @{            
            // If this becomes more compilcated than this it should be moved to it's own component [model, view, controller]
            var checkListItems = new[]
            {
                "Description of item",
                "Full color / single color / spot color",
                "Preferred stock",
                "Finished size",
                "Single-sided or double-sided",
                "Number of pages",
                "Quantity",
                "Timing",
                "Other information"
            };

            foreach (var item in checkListItems)
            {
               <li class="collection-item">                    
                    <div class="valign-wrapper">                                                
                        <i class="material-icons small success-text text-700 valign">done</i>                        
                        <span class="valign">@item</span>
                    </div>
                </li>
            }
        }        
        <li class="collection-header">
            <h6>
                Please include as many details as possible.
            </h6>
        </li>
    </ul>
</article>