<div class="row add-pad-bot-30 add-pad-top-30">
        
    <div class="col s12">
        <div class="row">
            <div class="col l6 m6 s12 add-pad-bot center">
                <button class="col s12 btn waves-effect waves-green green" id="submit-quote" type="button" data-test-submit>SUBMIT</button>
            </div>

            <div class="col l6 m6 s12 center">
                <button class="col s12 btn waves-effect orange" id="reset-quote" type="reset" data-test-clear>CLEAR</button>
            </div>
        </div>
    </div>

</div>