@{
    ViewBag.Title = "Docket Books Ireland";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<div>
    
    @{ Html.RenderAction("Index", "Home"); }    

    @{ Html.RenderAction("Index", "Services"); }

</div>

<div id="modal-placeholder" class="modal"></div>

<div id="loader-placeholder"></div>