/**************************************************************************************
 * Avenir Font
 * --------------------------------------------------
 * 
 * This file contains the avenir font imports
 *
 * .eot         :   IE9+ Compat Modes
 * .eot?#iefix  :   IE6 - IE8
 * .woff        :   Modern Browsers
 * .woff2       :   Super Modern Browsers
 * .ttf         :   Safari, Andriod, iOS
 * .svg         :   Legacy iOS
 * 
**************************************************************************************/

@AvenirPath: "../fonts/avenir";

/* Light *************************************************************/
@font-face {
  font-family: 'Avenir';
  src: url('@{AvenirPath}/Light/Avenir-Light.eot');
  src: url('@{AvenirPath}/Light/Avenir-Light.eot?#iefix') format('embedded-opentype'),
       url('@{AvenirPath}/Light/Avenir-Light.woff') format('woff'),
       url('@{AvenirPath}/Light/Avenir-Light.woff2') format('woff2'),
       url('@{AvenirPath}/Light/Avenir-Light.ttf') format('truetype'),
       url('@{AvenirPath}/Light/Avenir-Light.svg#OpenSansLight') format('svg');
  font-weight: lighter;
  font-style: normal;
}