@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="contactus" class="col s12" role="main">
    Contact Us
    
    <!--
    ToDo
    use this type of format - http://www.dkprinting.com/contact-us/
    -->

</section>

