@{
    ViewBag.Title = "Contact Us";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    //BundleConfig.UpdateScriptBundle(BundleTable.Bundles.GetBundleFor("~/js/joyceprintjs"), BundleConfig.PageBundle.ContactUs);
}

<section id="contactus" class="row light-grey" role="main">
    Contact Us
    
    <div class="col s12">
        <ul class="collection with-header">
            <li class="collection-header"><h4 class="success-text">General Maintenance</h4></li>
            <li class="collection-item primary-text">refactor - css, javascript [remove unused items, add in console logging and exception handling]</li>            
            <li class="collection-item primary-text">split javascript code - only use on required pages</li>
            <li class="collection-item primary-text">can we use bundles in the result executing action filter to handle loading and unloading the script bundle files - will this make any difference</li>            
        </ul>
    </div>

    <div class="clearfix"></div>

    <div class="col s12">
        <ul class="collection with-header">
            <li class="collection-header"><h4 class="success-text">Quote Page</h4></li>
            <li class="collection-item primary-text">Get drop down working correctly</li>
            <li class="collection-item success-text">Get validation patterns working</li>
            <li class="collection-item primary-text">Get validation bubbles working</li>
            <li class="collection-item primary-text">Get server side validation working</li>
            <li class="collection-item primary-text">Get email prepared</li>
            <li class="collection-item primary-text">When the clear button is pressed we need to clear the materialize selects and remove the touched class</li>
            <li class="collection-item danger-text">Any other items required for the quote page</li>
        </ul>
    </div>

    <div class="clearfix"></div>

    <div class="col s6">
        <ul class="collection with-header">
            <li class="collection-header"><h4 class="success-text">Header</h4></li>
            <li class="collection-item primary-text">Get logo for the header</li>
            <li class="collection-item success-text">Ensure active links are set when the user is on the page</li>
            <li class="collection-item success-text">Ensure unactive links change color when hovered over</li>
            <li class="collection-item primary-text">Ensure header is responsive and still function - side navigation for mobile</li>
        </ul>
    </div>

    <div class="col s6">
        <ul class="collection with-header">
            <li class="collection-header"><h4 class="success-text">Footer</h4></li>
            <li class="collection-item primary-text">Get logo for the footer</li>
            <li class="collection-item success-text">Ensure footer is response</li>
        </ul>
    </div>

    <div class="clearfix"></div>

    <div class="col s6">
        <ul class="collection with-header">
            <li class="collection-header"><h4 class="success-text">Home Page</h4></li>
            <li class="collection-item success-text">Get the carasoul working</li>
            <li class="collection-item success-text">Get the images to be used on the home page</li>
            <li class="collection-item primary-text">Get the text to be used on each image</li>
            <li class="collection-item danger-text">Any other items required for the home page</li>
        </ul>
    </div>

    <div class="col s6">
        <ul class="collection with-header">
            <li class="collection-header"><h4 class="success-text">About Us Page</h4></li>
            <li class="collection-item success-text">Add a google map with the obsuficated location for the business?</li>
            <li class="collection-item primary-text">Make it so the user has to click to interact with the map - just show an image to start with and load the map if the user clicks on it</li>
            <li class="collection-item primary-text">Add the company address to the page - in the same section as the map</li>
            <li class="collection-item primary-text">Add the company id number to the page</li>
            <li class="collection-item primary-text">Add telephone and fax numbers</li>
            <li class="collection-item primary-text">Add information about the founders</li>
            <li class="collection-item danger-text">Add a little contact us section - no quote information - just inquiry [inquire about anything]</li>
            <li class="collection-item danger-text">Add information about the current staff</li>
            <li class="collection-item danger-text">Any other items required for the about us page</li>
        </ul>
    </div>

</section>