<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="RecaptchaPublicKey" value="6LcC2Q0UAAAAADtadrrG_FTRs82tvd2J1fOwK-KW"/>
    <add key="RecaptchaSecretKey" value="6LcC2Q0UAAAAALvPAkBtQT2a5AE8DUCotVfQu04t"/>
    <add key="RecaptchaUrl" value="https://www.google.com/recaptcha/api/siteverify"/>
  </appSettings>
  
  <system.net>
    <mailSettings>
      <smtp from="some@email.com">
        <network host="myhost" port="25" />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>