<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="providers">
      <section name="logging" type="Common.Providers.ProviderConfigurationSection, Common.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </sectionGroup>
  </configSections>

  <!-- Application Logging -->
  <providers>
    <logging defaultProvider="PROVIDER NAME">
      <providers>
        <clear />
        <add name="PROVIDER NAME"
             type="PATH TO CLASS, PROJECT NAMESPACE, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
             description="PROVIDER DESCRIPTION"/>
      </providers>
    </logging>
  </providers>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <!--Event Listener Log-->
        <add name="eventLogListener" type="System.Diagnostics.EventLogTraceListener" initializeData="Analytics"/>
        <!--File Error log example - this would create the file in the high level website directory -->
        <!--add name="textWriterListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="AnalyticsError.txt"/-->
      </listeners>
    </trace>
  </system.diagnostics>

</configuration>