<section id="services" role="main" class="row no-mar-bot light-grey" data-menu-item>
    <div class="container-services">
        <div class="row">
            <div class="col s12">               
                <h1 class="services-header">Docket Books</h1>
            </div>
        </div>

        <div class="row eq-height add-pad-bot-30">
            <div class="col l5 m10 offset-m1 s12">                
                <article id="docketbooks-info">
                        <p>
                            We print NCR (Carbonless) perforated docket books, glued pads or glued sets. Choose from Invoice, Receipt, Delivery,
                            Quotation, Purchase Order, Restaurant or Takeaway books. No quantity too small.
                        </p>

                        <span>Book Size</span>
                        <p>
                            Choose from A6, A5, A4, A3, DL or create your own custom size in portrait or landscape format
                        </p>

                        <span>Book Type</span>
                        <p>
                            We print DUPLICATE books with 100 or 50 sets per book and TRIPLICATE or QUAD with 50 sets per book. Books can be
                            punched for filling, can be printed double sided and even have different information on the second and third sheet.
                        </p>

                        <span>Page Colours</span>
                        <p>
                            Page colours offered include white, yellow, pint, blue and green. While our standard sequence is white, yellow, pink,
                            other page colour sequences are available upon request.
                        </p>

                        <span>Numbering</span>
                        <p>
                            Books are sequentially numbered in red in one position. If required we can number in up to 4 places on a sheet.
                        </p>

                        <span>Perforation</span>
                        <p>
                            Standard perforation is either at the side or top. Books can be perforated up to fours times in different positions
                        </p>

                        <span>Covers</span>
                        <p>
                            We offer wraparound manilla 315gsm board covers and spine taping as standard. Alternatively, we can insert a removable
                            writing shield. Bools can be bound at the side or top. A greyboard back can be added if required.
                        </p>

                        <a href="http://joyceprint.ie/#quote" class="cursor-pointer"><span class="text-700">Contact us</span></a> today for a no obligation quote.
                    </article>                
            </div>

            <div class="col l6 offset-l1 no-pad-right">
                <div id="services-docketbooks-container" class="hide-on-med-and-down show-on-large">
                    <a href="http://joyceprint.ie/#quote" class="cursor-pointer">
                        <img src="~/Content/images/docketbooks.png" alt="Docket Books" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>