<section id="services" role="main" class="row no-mar-bot light-grey" data-test-form-id="frmServices" data-menu-item>
    <div class="container-services">
        <div class="row eq-height no-mar-bot">
            <div class="col l5 m10 offset-m1 s12">
                <div class="row no-mar-bot">
                    <article id="ourServices" class="col s12" data-test-services>
                        <h1 class="services-header">OUR SERVICES</h1>
                        <p class="justify-align">
                            We offer a wide range of quality <span class="text-700">NCR products</span>, such as invoices, receipts, quotations, 
                            delivery notes, restaurant order books, log books and more. Books can be duplicate, triplicate or quad and all 
                            standard sizes from A6 to A3 can be purchased with custom sizes catered for. NCR sets and pads are also available.
                            <br />
                            <br />
                            All books can be top or side perforated, with or without sequential numbering. They can be printed double sided, in a
                            spot color, punched for filling and can even include different information on the second, third or fourth copy. Books
                            come with manilla board back-ing and wraparound cover with spine taping.
                            <br />
                            <br />
                            We are major supliers of <span class="text-700">NCR products</span> and offer competitive pricing. Our clients are 
                            based nationwide and our best form of advertising is, and always has been, recommendations by satisfied customers. We 
                            can always guarentee our clients total security and confidentiality.
                            <br />
                            <br />
                            <a href="http://joyceprint.ie/#quote" class="cursor-pointer"><span class="text-700">Contact us</span></a> today for a no obligation quote.
                        </p>
                    </article>                    
                </div>
            </div>

            <div class="col l6 offset-l1 no-pad-right">
                <div id="services-parallax-positional-container" class="hide-on-med-and-down show-on-large">
                    <div class="parallax-container" id="services-parallax-container">
                        <div class="parallax">
                            <img src="~/Content/images/services.jpg" alt="Our Services" data-test-services-img />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>