@using JoycePrint.Domain.Models

@model Security

<!-- Including the google recaptcha api -->
@*<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>*@
<script src='https://www.google.com/recaptcha/api.js' async defer></script>

<div class="g-recaptcha"
     data-sitekey= @Model.RecaptchaPublicKey
     data-callback="handleCaptcha"
     data-expired-callback="handleExpiredCaptcha"
     data-test-recaptcha>
</div>