/**************************************************************************************
 * About Us
 * --------------------------------------------------
 * 
 * This file contains the styles used on the about us view
**************************************************************************************/

.about-header {
    .text-600;
    color: @color-grey;
    margin-bottom: 50px;
}

#aboutus-parallax-container {
    height: 650px;
    z-index: 2;
}

.about-address {
    padding-bottom: 20px;
}

#map {
    height: 500px;
    width: 100%;    
}

#map-cover {
    position: relative;
    top: -500px;
    margin-bottom: -500px;
    left: 0;
    height: 500px;
    z-index: 2;
    background-color: black;
    opacity: 0.3;
}

.hide-overlay {
    color: @color-pink;
    cursor: pointer;
    top: 225px;
    position: relative;    
}

#companyHistory p { 
    .helvetica-light;
}