/**************************************************************************************
 * Color
 * --------------------------------------------------
 *
 * This file contains styles that apply color
**************************************************************************************/

/* Background Color Extensions *******************************************************/
.primary {
    background-color: @color-primary;
}

.warning {
    background-color: @color-warning;
}

.success {
    background-color: @color-success;
}

.danger {
    background-color: @color-danger;
}

.bg-light-grey {
    background-color: @color-light-grey;    
}

.bg-white {
    background-color: @color-white
}

.bg-pink {
    background-color: @color-pink;
}

.primary-text {
    color: @color-primary;
}

.success-text {
    color: @color-success;
}

.danger-text {
    color: @color-danger;
}