/**************************************************************************************
 * Enquiry Form
 * --------------------------------------------------
 * 
 * This file contains the styles used on the enquiry form view
**************************************************************************************/
.checkbox-pad {
    padding-right: 15px;
}

.checkbox-container-header {
    padding-bottom: 15px !important;
    padding-top: 15px !important;
}

.checkbox-container-space {
    padding-bottom: 15px !important;
}

.message {
    background-color: #FFFFFF !important;
    margin-top: 40px !important;
    margin-left: 0px !important;
    width: 100% !important;
    height: 265px !important;
    overflow-y: auto !important;
}
