/**************************************************************************************
 * Home
 * --------------------------------------------------
 * 
 * This file contains the styles used on the home view
**************************************************************************************/

#home {
    // This forces the top of the parallax image to under the header rather than
    // behind it
    margin-top: 47px;
}

#home-parallax-container {
    height: 1000px;
}

#home-parallax-content {
    position: relative;
    top: 130px;
}

#home-parallax-content > h1 {
    font-size: 83px;
}

#home-parallax-content > a {
    font-size: 20px;
    margin-top: 50px;
}