/**************************************************************************************
 * Home
 * --------------------------------------------------
 * 
 * This file contains the styles used on the home view
**************************************************************************************/

#home {
    // This forces the top of the parallax image to under the header rather than behind it
    margin-top: 47px;      
}

#home-parallax-container {
    z-index: 1;
    background-color: black; 
}

#home-parallax-container > .parallax-container {
    height: 1000px;
    z-index: 2;
    opacity: 0.61;
}

#home-parallax-content {
    position: relative;
    top: -870px;
    text-align: center;
    z-index: 3;
    //margin-bottom: -870px;    
}

#home-parallax-content > h1 {
    font-size: 83px;
}

#home-parallax-content > a {
    font-size: 20px;
    margin-top: 50px;
}