/**************************************************************************************
 * JoycePrint Common Class Extensions
 * --------------------------------------------------
**************************************************************************************/
@color-primary: #1D4A5D;
@color-warning: #F89C28;
@color-success: #97C23C;
@color-success-dark: #3c763d;
@color-danger: #d9534f;
@color-danger-dark: #a94442;
@color-info: #66afe9;
@color-white: #FFFFFF;

@color-info-bg: #66afe9;

/* Font Extension Classes *************************************************************/
@font-face {
    font-family: "Open Sans", sans-serif;
}

.OpenSans {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
}

/* Sticky Footer Classes *************************************************************/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer.page-footer {
    background-color: @color-primary;
    margin-top: 0px;
}

/**************************************************************************************
 * Materialize Class Extensions
 * --------------------------------------------------
 * Classes required that materialize does not have by default
 *
 * Classes required for overriding materialize styles that are not accessable 
 * using the site customizations
**************************************************************************************/

/* Row Extensions *************************************************************/
.row.eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.row.eq-height > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

/*.row.eq-height {
    display: flex;
    flex-wrap: wrap;
}
.row.eq-height > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.row.eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.eq-height > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}*/

/* Background Color Extensions *************************************************************/
.dark-blue {
    background-color: @color-primary;
}

.warning {
    background-color: @color-warning;
}

.success {
    background-color: @color-success;
}

.danger {
    background-color: @color-danger;
}

/* Font Color Extensions *************************************************************/
.dark-blue-text {
    color: @color-primary;
}

.success-text {
    color: @color-success;
}

.danger-text {
    color: @color-danger;
}

/* Font Weight Extensions ************************************************************/
.text-700 {
    font-weight: 700;
}

.text-500 {
    font-weight: 500;
}

/* Active Extensions *****************************************************************/
.active-text {
    color: #F89C28 !important;
}

.prefix.active.success-text {
    color: @color-success;
}

.prefix.success-text {
    color: @color-success-dark;
}

.prefix.active.danger-text {
    color: @color-danger;
}

.prefix.danger-text {
    color: @color-danger-dark;
}

/* Nav Extensions ***************************************************************/
nav {
    background-color: @color-primary;
}

nav a:hover {
    color: @color-warning;
}

/* Side Nav Extensions ***************************************************************/
.side-nav {
    background-color: @color-primary;
}

.side-nav a {
    color: @color-white;
}

.cursor-pointer {
    cursor: pointer;
}

/* Required Field Extensions *********************************************************/
input:focus:not([readonly])[required],
textarea.materialize-textarea:focus:not([readonly])[required] {
    border-bottom-color: @color-warning;
    box-shadow: 0 1px 0 0 @color-warning;
}

input:focus:not([readonly])[required] + label,
textarea.materialize-textarea:focus:not([readonly])[required] + label {
    color: @color-warning;
}

/* Valid Field Extensions ************************************************************/
input:focus:not([readonly])[required][class~=valid],
textarea.materialize-textarea:focus:not([readonly])[required][class~=valid] {
    border-bottom-color: @color-success;
    box-shadow: 0 1px 0 0 @color-success;
}

input:focus:not([readonly])[required][class~=valid] + label,
textarea.materialize-textarea:focus:not([readonly])[required][class~=valid] + label {
    color: @color-success;
}

input:not([readonly])[required][class~=valid],
textarea.materialize-textarea:not([readonly])[required][class~=valid] {
    border-bottom-color: @color-success-dark;
    box-shadow: 0 1px 0 0 @color-success-dark;
}

input:not([readonly])[required][class~=valid] + label,
textarea.materialize-textarea:not([readonly])[required][class~=valid] + label {
    color: @color-success-dark;
}

/* Invalid Field Extensions **********************************************************/
input:focus:not([readonly])[required][class~=invalid],
textarea.materialize-textarea:focus:not([readonly])[required][class~=invalid] {
    border-bottom-color: @color-danger;
    box-shadow: 0 1px 0 0 @color-danger;
}

input:focus:not([readonly])[required][class~=invalid] + label,
textarea.materialize-textarea:focus:not([readonly])[required][class~=invalid] + label {
    color: @color-danger;
}

input:not([readonly])[required][class~=invalid],
textarea.materialize-textarea:not([readonly])[required][class~=invalid] {
    border-bottom-color: @color-danger-dark;
    box-shadow: 0 1px 0 0 @color-danger-dark;
}

input:not([readonly])[required][class~=invalid] + label,
textarea.materialize-textarea:not([readonly])[required][class~=invalid] + label {
    color: @color-danger-dark;
}

// The text has to fit in the column at it's lowest pixel width or the tranform value will not work
label.val-msg.active {
    display: block;
    font-size: 0.8rem;
    color: @color-danger;
    -webkit-transform: translateY(200%);
    transform: translateY(200%);
}

// The text has to fit in the column at it's lowest pixel width or the tranform value will not work
textarea.materialize-textarea + label + label.val-msg.active {
    display: block;
    font-size: 0.8rem;
    color: @color-danger;
    -webkit-transform: translateY(400%);
    transform: translateY(400%);
}

label.val-msg,
i.material-icons:not([class~=active]) + input + label + label.val-msg:not([class~=active]) i.material-icons:not([class~=active]) + input + label + label.val-msg[class~=active] {
    display: none;
}

/*transform {
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease-out;
}*/

/**************************************************************************************
 * JoycePrint Site Styles
 * --------------------------------------------------
 * 
**************************************************************************************/
h4 {
    .dark-blue-text;
    .text-700;
}

h2 {
    color: @color-danger;
    font-weight: 900;
}

#paper-size,
#paper-orientation,
#book-type {
    margin-top: 0px;
    margin-bottom: 0px;
}

#docket-help .card-title {
    .text-500;
}

#docket-help .collapsible-header {
    .text-700;
    font-size: 1.64rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

header > .row.show-on-medium-and-up {
    margin-bottom: 0px;
}

.aboutBanner.parallax-container {
    height: 220px;
}

.aboutInformation.parallax-container {
    height: 350px;
}

.col.col-parallax {
    padding-left: 0px;
    padding-right: 0px;
}

#aboutus .row {
    margin-bottom: 0px;
}

#map {
    height: 350px;
    width: 100%;

    margin-bottom: 20px;
    margin-top: 20px;
}
