@color-primary: #1D4A5D;
@color-warning: #F89C28;
@color-success: #97C23C;
@color-success-dark: #3c763d;
@color-danger: #d9534f;
@color-danger-dark: #a94442;
@color-info: #66afe9;

@color-info-bg: #66afe9;

/******************************************************************************
 * Materialize Class Extensions
 * --------------------------------------------------
 * Classes required that materialize does not have by default
 *
 * Classes required for overriding materialize styles that are not accessable 
 * using the site customizations
******************************************************************************/

/* Sticky Footer Classes ********************************************************/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

/* Row Extensions ************************************************************/

/******************************************************************************
 * JoycePrint Site Styles
 * --------------------------------------------------
 * 
******************************************************************************/
