/**************************************************************************************
 * Services
 * --------------------------------------------------
 * 
 * This file contains the styles used on the services view
**************************************************************************************/

.services-header {
    .text-500;
    color: @color-grey;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-title {
    .text-500 !important;
    color: @color-bluegrey;
}

/* Card Extensions ********************************************************************/
.card.large {
  height: 550px;
}

.card.large,
.card-image+.card-content {
    max-height: 80% !important;
}