/**************************************************************************************
 * Services
 * --------------------------------------------------
 * 
 * This file contains the styles used on the services view
**************************************************************************************/
.services-header {
    .section-header;
    padding-top: 50px;
    padding-bottom: 25px;
    margin-top: 0px;
}

/* Card Extensions ********************************************************************/
#services .card {
    box-shadow: 0.3rem -0.3rem 0.5rem rgba(0,0,0,0.14);
}

#services .card-title {
    .text-600;
    color: @color-bluegrey;
    font-family: "Avenir Heavy";
}

#services .card-content p {
    .helvetica-light;
}

#services .card-image {
    border-bottom-color: @color-grey-light;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

/* This stops the card from hiding most of the text */
#services .card.large,
#services .card-image + .card-content {
    max-height: 80% !important;
}

/* 
    Font - Styles for services when the screen is ...
*/
@media only screen and (max-width: 1400px) {
    #services .card-content p {
        font-size: 14.5px;
    }
}






/* above here works - leave alone */




/* 
    Large Card - Styles for services when the screen is ...
*/
@media only screen and (min-width: 1601px) {

    #services .card.large {
        height: 550px;
        min-height: 550px;
    }

    #services .card-image {
        /* Fixes the issue where the images are not the same height */
        height: 235px;
    }
}

/* 
    Large Card - Styles for services when the screen is ...
*/
@media only screen and (min-width: 1401px) and (max-width: 1600px) {

    #services .card.large {
        height: 530px;
        min-height: 530px;
    }

    #services .card-image {
        /* Fixes the issue where the images are not the same height */
        height: 205px;
    }
}

/* 
    Styles for services when the screen is ...  
*/
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
    
    .container {
        width: 80%;
    }

    #services .card.large {
        height: 510px;
        min-height: 510px;
    }

    #services .card-image {
        /* Fixes the issue where the images are not the same height */
        height: 205px;
    }
}

/* 
    Styles for services when the screen is ...
    Makes the services view look good when the screen is a mac 11" or an ipad 9.8"
*/
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    
    .container {
        width: 90%;
    }

    #services .card.large {
        height: 520px;
        min-height: 520px;
    }

    #services .card-image {
        /* Fixes the issue where the images are not the same height */
        height: 195px;
    }
}

/* 
    Styles for services when the screen is ...
    Makes the services view look good before materialize medium settings take effect when shrinking
*/
@media only screen and (min-width: 1023px) {
    
    .container {
        width: 95%;
    }

    #services .card.large {
        height: 510px !important;
        min-height: 510px !important;
    }

    #services .card-image {
        /* Fixes the issue where the images are not the same height */
        height: 180px !important;
    }
}

/* 
    Styles for services when the screen is ...
*/
/*@media only screen and (max-width: 992px) {

    #services .card.large {
        height: 500px !important;
        min-height: 500px !important;
    }

    #services .card.large,
    #services .card-image + .card-content {
        max-height: 40% !important;
    }

    #services .card-image {
        Fixes the issue where the images are not the same height
        height: 405px;
        max-height: 60% !important;
    }
}*/
