@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="aboutus" class="col-xs-12 bg-danger" role="main">
    About Us
    <!--
    ToDo
    use this type of format - http://www.dkprinting.com/about-us-2/   
    https://designschool.canva.com/wp-content/uploads/sites/2/cache/2015/09/46_BoldFlatColors/46_BoldFlatColors-662x1324.png
        https://designschool.canva.com/wp-content/uploads/sites/2/cache/2015/09/01_SharpPalette1/01_SharpPalette1-662x980.jpg 
    -->
</section>

