@color-primary: #1D4A5D;
@color-warning: #F89C28;
@color-success: #97C23C;
@color-success-dark: #3c763d;
@color-danger: #d9534f;
@color-danger-dark: #a94442;
@color-info: #66afe9;

@color-info-bg: #66afe9;

/******************************************************************************
 * Bootstrap Class Extensions
 * --------------------------------------------------
 * Classes required that bootstrap does not have by default
 *
 * Classes required for overriding bootstrap styles that are not accessable 
 * using the site customizations
******************************************************************************/

/* Validation Classes ********************************************************/
.focus {
    border-color: @color-info;
    background-color: @color-info-bg;
}

.invalid {
    border-color: @color-danger;
    background-color: #f2dede;
    color: @color-danger-dark;
}

.valid {
    border-color: @color-success;
    background-color: #dff0d8;
    color: @color-success-dark;
}

.touched:invalid {
    border-color: @color-danger;
}

.touched:valid {
    border-color: @color-success;
}

/* Placeholder Classes *******************************************************/
/* do not group these rules */
*::-webkit-input-placeholder {
    color: red;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: red;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: red;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: red;
}

/* Text Classes **************************************************************/
.text-white {
    color: #FFFFFF;
}

.text-weight-900 {
    font-weight: 900;
}

.text-weight-700 {
    font-weight: 700;
}

/* Navigation ****************************************************************/
.navbar {
    background-image: none;
    margin-bottom: 0;
}

.navbar .h4 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.navbar-inverse .navbar-nav > .active > a {
    box-shadow: none;
    background-image: none;
}

@media (min-width: 768px) {
    .navbar {
        margin-top: 0;
    }
}

@media (min-width: 992px) {
    .navbar {
        margin-top: 37px;
    }
}

@media (min-width: 1200px) {
    .navbar {
        margin-top: 50px;
    }
}

/* Row Extensions ************************************************************/
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.row-eq-height > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.row-vertical-align {
    .row-eq-height;
    flex-direction: row;
}

.row-vertical-align > [class^="col-"],
.row-vertical-align > [class*=" col-"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/******************************************************************************
 * JoycePrint Site Styles
 * --------------------------------------------------
 * 
******************************************************************************/
nav a {
    .text-weight-700;
}

footer a {
    color: @color-warning;
}

footer a:hover {
    color: @color-warning;
}

.jp-header-container {
    border-bottom: 5px solid @color-primary;
    margin-bottom: 20px;
    padding-left: 0px;
}

/*html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    padding-bottom: 150px; // This needs to be bigger than footer height
}

main {
    overflow: auto;
}

footer {
    position: relative;
    margin-top: -150px; // Negative value of footer height
    height: 150px;
    clear: both;
    padding-top: 20px;
}*/