@color-warning: #F89C28;

/******************************************************************************
 * Bootstrap Class Extensions
 * --------------------------------------------------
 * Classes required that bootstrap does not have by default
 *
 * Classes required for overriding bootstrap styles that are not accessable 
 * using the site customizations
******************************************************************************/
.text-white {
    color: #FFFFFF;
}

.text-weight-900 {
    font-weight: 900;
}

.text-weight-700 {
    font-weight: 700;
}

.navbar {
    background-image: none;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .navbar {
        margin-top: 12px;
    }
}

@media (min-width: 992px) {
    .navbar {
        margin-top: 35px;
    }
}

@media (min-width: 1200px) {
    .navbar {
        margin-top: 50px;
    }
}
/******************************************************************************
 * JoycePrint Site Styles
 * --------------------------------------------------
 * 
******************************************************************************/
#jpNav a {
    .text-weight-900;
}

.jp-delivery {
    padding-bottom: 20px;
}

footer a {
    color: @color-warning;
}

footer a:hover {
    color: @color-warning;
}







/*html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    padding-bottom: 150px; // This needs to be bigger than footer height
}

main {
    overflow: auto;
}

footer {
    position: relative;
    margin-top: -150px; // Negative value of footer height
    height: 150px;
    clear: both;
    padding-top: 20px;
}*/

/******************************************************************************
 * Row with equal height columns
 * --------------------------------------------------
 * Makes all columns in the row equal height
 * Does not vertically center, for that use [col-vcenter]
******************************************************************************/
/*.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.row-eq-height > [class*='col-'] {
    display: flex;
    flex-direction: column;
}*/

/*.row-vertical-align {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
}*/

/*.row-vertical-align > [class^="col-"],
.row-vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;
    justify-content: center;
}*/

/******************************************************************************
 * Row with equal height vertically centered columns
 * --------------------------------------------------
 * Makes all columns in the row vertically centered
******************************************************************************/
/*.col-vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}*/


/* verifiy these are still needed
#home-information {
    padding-top: 20px;
    padding-bottom: 20px;
}

#information ul {
  list-style-type: none;
}

#information div.panel-body {
    padding: 0;
	padding-top: 15px;
}*/
