<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <providers>
    <!-- Application Logging -->
    <logging xdt:Transform="Replace" defaultProvider="FileLog">
      <providers>
        <clear />       
        <add name="FileLog"
             type="Common.Logging.FileLogger.FileLogger, Common.Logging.FileLogger, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
             description="Log to a file on the hosting system"
             enabled="false"
             logPath="~/"
             logFile="filelogger.txt"/>
      </providers>
    </logging>

    <!-- Application Analytics -->
    <analytics xdt:Transform="Replace" defaultProvider="Google">
      <providers>
        <clear />
        <add name="Google"
             type="Common.Analytics.GoogleAnalytics.GoogleAnalytics, Common.Analytics.GoogleAnalytics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
             description="Google Analytics Provider"
             enabled="false"
             version="1"
             trackingId="UA-88639794-1"
             timeout="500"
             url="http://www.google-analytics.com/collect"/>
      </providers>
    </analytics>
  </providers>
  
  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="RecaptchaPublicKey" value="6LcC2Q0UAAAAADtadrrG_FTRs82tvd2J1fOwK-KW"/>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="RecaptchaSecretKey" value="6LcC2Q0UAAAAALvPAkBtQT2a5AE8DUCotVfQu04t"/>
  </appSettings>
  
  <system.web>

    <!-- 
      [ Security - Application Hardening ]
      Remove the debug attribute for the live site
    -->
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <!-- 
      [ Security - Application Hardening ] TODO: Verify this needs to be done
      Turn off tracing for the live site 
    -->
    <trace xdt:Transform="Replace" enabled="false" />

    <!-- 
      [ Security - Application Hardening ]
      Removes the Response Header:X-AspNet-Version - Specifies the version of ASP.NET used.
    -->
    <httpRuntime xdt:Transform="SetAttributes(enableVersionHeader)" enableVersionHeader="false"/>

    <!-- 
      [ Security - Secure Cookies ]
      Requires secure cookies to be used
    -->
    <httpCookies xdt:Transform="Replace" httpOnlyCookies="true" requireSSL="true" />

  </system.web>

  <system.webServer>
    <!-- The defaultPath expects an absolute path -->
    <httpErrors xdt:Transform="Replace" errorMode="DetailedLocalOnly" existingResponse="Replace" defaultResponseMode="File" defaultPath="Error.html">
      <clear/>
      <error statusCode="404" path="404.html" responseMode="File"/>
      <error statusCode="500" path="500.html" responseMode="File"/>
    </httpErrors>

    <httpProtocol xdt:Transform="Insert">
      <customHeaders>
        <!-- 
          [ Security - Application Hardening ]
          Remove Response Header:X-Powered-By - Indicates that the website is "powered by ASP.NET."           
        -->
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>

    <!--
      [Security - Application Hardening ] BUG: Not working for IIS 10
      Removing Server - Indicates that the server is "Server: Microsoft-IIS/10.0"
    -->      
    <!--
    <security xdt:Transform="Insert">
      <requestFiltering removeServerHeader ="true" />
    </security>
    -->
    
  </system.webServer>

</configuration>