<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <providers>
    <!-- Application Logging -->
    <logging xdt:Transform="Replace" defaultProvider="ElmahLogger">
      <providers>
        <clear />
        <add name="ElmahLogger"
             type="Common.Logging.ElmahLogger.ElmahLogger, Common.Logging.ElmahLogger, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
             description="A wrapper for the ELMAH logging package"
             enabled="true" />
      </providers>
    </logging>

    <!-- Application Analytics -->
    <analytics xdt:Transform="Replace" defaultProvider="Google">
      <providers>
        <clear />
        <add name="Google"
             type="Common.Analytics.GoogleAnalytics.GoogleAnalytics, Common.Analytics.GoogleAnalytics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
             description="Google Analytics Provider for domain joyceprint.ie"
             enabled="true"
             version="1"
             trackingId="UA-88639794-4"
             timeout="500"
             url="http://www.google-analytics.com/collect"/>
      </providers>
    </analytics>
  </providers>

  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="RecaptchaPublicKey" value="6LcC2Q0UAAAAADtadrrG_FTRs82tvd2J1fOwK-KW"/>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="RecaptchaSecretKey" value="6LcC2Q0UAAAAALvPAkBtQT2a5AE8DUCotVfQu04t"/>
    
    <add xdt:Transform="Remove" xdt:Locator="Match(key)" key="RouteDebugger:Enabled" value="true" />
  </appSettings>

  <connectionStrings>
    <add xdt:Transform="Replace" xdt:Locator="Match(name)" name="elmah-mysql" connectionString="Server=localhost;Port=3306;Database=joyceprint_elmah;Uid=joyce_elmah; Pwd=f6bf81512291c75a78ea1246272c74505ce26f834c6df17167c7bedac376d748;"/>
  </connectionStrings>

  <system.web>

    <!-- 
      [ Security - Application Hardening ]
      Remove the debug attribute for the live site
    -->
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <!-- 
      [ Security - Application Hardening ] TODO: Verify this needs to be done
      Turn off tracing for the live site 
    -->
    <trace xdt:Transform="Replace" enabled="false" />

    <!-- 
      [ Security - Application Hardening ]
      Removes the Response Header:X-AspNet-Version - Specifies the version of ASP.NET used.
    -->
    <httpRuntime xdt:Transform="SetAttributes(enableVersionHeader)" enableVersionHeader="false"/>

    <!-- 
      [ Security - Secure Cookies ]
      Requires secure cookies to be used
      
      requireSSL has to be "false" until we get a cert
    -->
    <httpCookies xdt:Transform="Replace" httpOnlyCookies="false" requireSSL="false" />

  </system.web>

  <system.webServer>
    
    <httpErrors xdt:Transform="Replace" errorMode="Custom" existingResponse="Replace">
      <remove statusCode="403"/>
      <remove statusCode="404"/>
      <remove statusCode="500"/>
      <error statusCode="403" path="/403.html" responseMode="ExecuteURL" />
      <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
      <error statusCode="500" path="/500.html" responseMode="ExecuteURL" />
    </httpErrors>

    <httpProtocol xdt:Transform="Insert">
      <customHeaders>
        <!-- 
          [ Security - Application Hardening ]
          Remove Response Header:X-Powered-By - Indicates that the website is "powered by ASP.NET."           
        -->
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>

    <!--
      [Security - Application Hardening ] BUG: Not working for IIS 10
      Removing Server - Indicates that the server is "Server: Microsoft-IIS/10.0"
    -->
    <!--
    <security xdt:Transform="Insert">
      <requestFiltering removeServerHeader ="true" />
    </security>
    -->

  </system.webServer>

  <!-- 
    Email Settings 
    
    POP: pop.joyceprint.ie
    SMTP: smtp.joyceprint.ie
    IMAP: imap.joyceprint.ie
    Webmail: http://webmail.joyceprint.ie
  -->
  <system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp from="quote@joyceprint.ie">
        <network host="us2.smtp.mailhostbox.com" port="25" userName="quote@joyceprint.ie" password="O@P^hi*9" clientDomain="joyceprint.ie"/>
      </smtp>
    </mailSettings>
  </system.net>
+
  <!-- ELMAH Configuration Section [ https://elmah.github.io/ ] -->
  <elmah xdt:Transform="Replace">

    <!-- See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for more information on remote access and securing ELMAH. -->
    <security allowRemoteAccess="true" />

    <errorLog type="Elmah.MySqlErrorLog, Elmah" connectionStringName="elmah-mysql" />
  </elmah>

  <system.data xdt:Transform="Replace">
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.7.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>

</configuration>