<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>

    <!-- 
      [ Security - Application Hardening ]
      Remove the debug attribute for the live site
    -->
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <!-- 
      [ Security - Application Hardening ] TODO: Verify this needs to be done
      Turn off tracing for the live site 
    -->
    <trace xdt:Transform="Replace" enabled="false" />

    <!-- 
      [ Security - Application Hardening ]
      Removes the Response Header:X-AspNet-Version - Specifies the version of ASP.NET used.
    -->
    <httpRuntime xdt:Transform="SetAttributes(enableVersionHeader)" enableVersionHeader="false"/>

    <!-- 
      [ Security - Secure Cookies ]
      Requires secure cookies to be used
    -->
    <httpCookies xdt:Transform="Replace" httpOnlyCookies="true" requireSSL="true" />
    
  </system.web>

  <system.webServer>
    <!-- The defaultPath expects an absolute path -->
    <httpErrors xdt:Transform="Replace" errorMode="DetailedLocalOnly" existingResponse="Replace" defaultResponseMode="File" defaultPath="Error.html">
      <clear/>
      <error statusCode="404" path="404.html" responseMode="File"/>
      <error statusCode="500" path="500.html" responseMode="File"/>
    </httpErrors>
    
    <httpProtocol xdt:Transform="Insert">
      <customHeaders>
        <!-- 
          [ Security - Application Hardening ]
          Remove Response Header:X-Powered-By - Indicates that the website is "powered by ASP.NET." 
          BUG: this is the only thing here not working
        -->
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>

  </system.webServer>

</configuration>