<!--
    This is a partial because it has not model associated with the view
    It this had a model it would become a display template
-->
<div class="card large">
    <div class="card-image">
        <img src="~/Content/images/services-design.jpg" alt="Design Service" />
    </div>
    <div class="card-content">
        <span class="card-title">DESIGN SERVICE</span>
        <p class="justify-align">
            You can create your own Docket Books, Flyers, Stationery, Invitations, etc. Simply supply us with a
            hi-res PDF file with your chosen fonts, graphics and colours embedded and we’ll do the rest. If design
            is not your thing, then we can simply create the artwork for you and can advise on the best print
            finish to suit your needs. We will supply proofs to ensure you are happy with the final layout.
        </p>
    </div>
</div>