<!--
    This is a partial because it has not model associated with the view
    It this had a model it would become a display template
-->
<div class="card large">
    <div class="card-image">
        <img src="~/Content/images/services-docketbooks.jpg" alt="Docket Books" />
    </div>
    <div class="card-content">
        <span class="card-title">DOCKET BOOKS</span>
        <p>
            We specialize in a wide range of Invoice Books, Receipt Books, Purchase Order Books, NCR Sets/Pads,
            Restaurant Books/Pads and Delivery Books. All are available in duplicate, triplicate and four part.
            All standard sizes from A6 to A3 can be purchased and custom sizes are catered for. We can ship
            anywhere within Ireland and can guarantee a fast turnaround.
        </p>
    </div>
</div>