/****************************************************************************************
 * Services - DocketBooks
 * --------------------------------------------------
 * 
 * This file contains the styles used on the services view
****************************************************************************************/

// TODO: Turn these widths into variables so they can be reused
@media only screen and (min-width: 993px) {
    .services-header {
        text-align: left;
    }
}

@media only screen and (max-width: 992px) {
    .services-header {
        text-align: center;
    }
}

.services-header {
    .section-header;
}

#services-docketbooks-container {
    height: 800px;
    z-index: 2;
}

#docketbooks-info span {
    .green-text;
    .text-700;
    
    font-size: 18px;
}

#docketbooks-info span:last-child:hover {
    .active-text;    
}

#docketbooks-info p {
    .helvetica-light;
    .justify-align;    

    margin-top: 0px;
}

#docketbooks-info a {
    .regular-text;
}

#docketbooks-info a:hover {
    .green-text;
}