@using JoycePrint.Web

@{
    ViewBag.Title = "Home";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    //BundleConfig.UpdateScriptBundle(BundleTable.Bundles.GetBundleFor("~/js/joyceprintjs"), BundleConfig.PageBundle.Home);
}

<section id="home" class="row no-mar-bot" data-test-form-id="frmHome">

    <div class="parallax-container" id="home-parallax-container">
                
        <div class="parallax">
            <img src="~/Content/images/homepage.jpg" alt="Trade Docket Books"/>
        </div>
        
        <div class="center-align" id="parallax-content">
            <h1 class="white-text">TRADE DOCKET BOOKS</h1>
            
            <h4 class="white-text">High Quality Printing. Fast Reliable Service.</h4>
            
            <a href="#quote" class="btn btn-large pink white-text">GET A QUOTE</a>
        </div>
    </div>

</section>