@using JoycePrint.Web

@{
    ViewBag.Title = "Home";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    //BundleConfig.UpdateScriptBundle(BundleTable.Bundles.GetBundleFor("~/js/joyceprintjs"), BundleConfig.PageBundle.Home);
}

<section id="home" class="row no-pad" data-test-form-id="frmHome">

    <div class="parallax-container" id="home-parallax-container">
        <div class="parallax">            
            <img src="~/Content/images/homepage.jpg" alt="Trade Docket Books"/>            
        </div>
    </div>

</section>