@{
    ViewBag.Title = "Docket Books Ireland";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<section id="error" class="row" data-test-form-id="frmNotFound">

    <div class="col s12">
        <h1 class="error-header center-align">404 Error</h1>
        <h3 class="error-body center-align">Sorry, this page cannot be found.</h3>
        <div class="col s12 center">
            <a class="btn-large btn-error waves-effect light-blue" href="/">RETURN TO HOMEPAGE</a>
        </div>
    </div>
</section>
