<footer class="row bg-primary">

    <img src="~/Content/images/jp-logo-footer.jpg" class="img-responsive center-block" alt="JoycePrint Footer Logo" />

    <div class="clearfix"></div>

    <div class="col-sm-12 text-center">
        <p class="small">
            <a href="@Url.Action("Index", "ContactUs")">Contact Us</a> | Copyright JoycePrint Ltd, @DateTime.Now.Year All rights reserved
        </p>
    </div>

</footer>