<footer class="page-footer" data-test-form-id="frmFooter">

    <div class="row">
        <div class="col offset-s2 s8">
            <span data-test-copyright>© JoycePrint Ltd @DateTime.Now.Year<span>.</span> Registered Number: 447238</span>
        </div>
    </div>

</footer>