<footer class="page-footer" data-test-form-id="frmFooter">
    <div class="container">
        <div class="row">
            <div class="show-on-large hide-on-med-and-down">
                <div class="col s12">
                    <span data-test-copyright>© JoycePrint Ltd @DateTime.Now.Year<span>.</span> Registered Number: 447238</span>

                    <span class="right valign-wrapper">
                        <i class="material-icons valign primary-text">phone</i>
                        <a href="tel:353949256876" title="Click to call us" class="regular-text space-right space-text" data-test-phone-text>
                            +353-94-9256876
                        </a>

                        <i class="material-icons valign primary-text">email</i>
                        <a href="mailto:info@yourdomain.com" title="Click to email us" class="regular-text space-text" data-test-email-text>
                            joyceprint@gmail.com
                        </a>
                    </span>
                </div>
            </div>

            <div class="show-on-medium show-on-med-and-down hide-on-med-and-up">
                <div class="col s12 center-align">
                    <span data-test-copyright>© JoycePrint Ltd @DateTime.Now.Year<span>.</span> Registered Number: 447238</span>
                    
                    <div class="clearfix"></div>

                    <div class="valign-wrapper">
                        <i class="material-icons valign primary-text">phone</i>
                        <a href="tel:353949256876" title="Click to call us" class="regular-text space-text" data-test-phone-text>
                            +353-94-9256876
                        </a>
                    </div>

                    <div class="clearfix"></div>

                    <div class="valign-wrapper">
                        <i class="material-icons valign primary-text">email</i>
                        <a href="mailto:info@yourdomain.com" title="Click to email us" class="regular-text space-text" data-test-email-text>
                            joyceprint@gmail.com
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>