<footer class="page-footer">

    <div class="row">
        <img src="~/Content/images/jp-logo-footer.jpg" class="responsive-img center-block" alt="JoycePrint Footer Logo" />
    </div>

    <div class="footer-copyright">
        <div class="row">
            <div class="col s10 offset-s1">
                © JoycePrint Ltd @DateTime.Now.Year, All rights reserved
                @*<a href="@Url.Action("Index", "ContactUs")" class="right">Contact Us</a>*@
            </div>
        </div>
    </div>
</footer>