<header data-test-form-id="frmHeader">
    <div class="row no-pad show-on-medium-and-up hide-on-small-and-down">
        @Html.Partial("_Navigation")
    </div>

    <div class="row hide-on-med-and-up">
        @Html.Partial("_NavigationSide")
    </div>
</header>