<header data-test-form-id="frmHeader">
    <div class="row no-mar-bot show-on-medium-and-up hide-on-small-and-down">
        @Html.Partial("_Navigation")
    </div>

    <div class="row no-mar-bot hide-on-med-and-up-jp">
        @Html.Partial("_NavigationSide")
    </div>
</header>