<div class="navbar-fixed">
    <nav data-test-nav id="navMenu">
        <div class="col s10 offset-s1">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo left">
                    <img src="~/Content/images/jp-logo-rbg.png" class="responsive-img" alt="JoycePrint Logo" data-test-nav-logo />
                </a>

                <ul id="nav" class="right">
                    <li id="liHome">
                        <a href="#home" data-test-nav-home>Home</a>
                    </li>
                    <li id="liServices">
                        <a href="#services" data-test-nav-services>Services</a>
                    </li>
                    <li id="liAboutUs">
                        <a href="#aboutus" data-test-nav-aboutus>About Us</a>
                    </li>
                    <li id="liQuote">
                        <a href="#quote" data-test-nav-quote>Get A Quote</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>