<nav data-test-side-nav>
    <div class="col s11">
        <div class="nav-wrapper">
            <!-- This is for the mobile menu-->
            <a href="#" data-activates="nav-mobile" class="button-collapse hide-on-med-and-up" data-test-side-nav-menu>
                <i class="material-icons">menu</i>
            </a>

            <div>
                <img src="~/Content/images/jp-logo-footer.jpg" class="responsive-img center-block hide-on-med-and-up" alt="JoycePrint Header Logo" data-test-side-nav-logo/>

                <ul id="nav-mobile" class="side-nav">
                    <li id="liHome">
                        <a href="@Url.Action("Index", "Home")" data-test-side-nav-home>Home</a>
                    </li>
                    <li id="liQuote">
                        <a href="@Url.Action("Index", "Quote")" data-test-side-nav-quote>Get A Quote</a>
                    </li>
                    <li id="liAboutUs">
                        <a href="@Url.Action("Index", "AboutUs")" data-test-side-nav-aboutus>About Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>