<nav>
    <div class="col s10 offset-s1">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo left">Logo</a>

            <ul id="nav" class="right">
                <li id="liHome">
                    <a href="@Url.Action("Index", "Home")">Home</a>
                </li>
                <li id="liQuote">
                    <a href="@Url.Action("Index", "Quote")">Get A Quote</a>
                </li>
                <li id="liAboutUs">
                    <a href="@Url.Action("Index", "AboutUs")">About Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>