<article id="information">
    <div class="panel panel-warning">
        <div class="panel-body">
            <div class="panel-heading text-weight-700">
                Size
            </div>
            <ul>
                <li><span class="text-danger">A4</span> - 210 x 297mm</li>
                <li><span class="text-danger">A5</span> - Half A4 - 148.5 x 210mm</li>
                <li><span class="text-danger">A6</span> - Quarter A4 - 105 x 148.5mm</li>
                <li><span class="text-danger">DL</span> - Third A4 - 99 x 210mm</li>
            </ul>

            <div class="panel-heading text-weight-700">
                Orientation
            </div>
            <ul>
                <li>A6 - Shape: Protrait Size: 105 x 148.5mm</li>
                <li>A6 - Shape: Landscape Size: 148.5 x 105mm</li>
                <li>DL - Shape: Protrait Size: 99 x 210mm</li>
                <li>DL - Shape: Landscape Size: 210 x 99mm</li>
                <li>A5 - Shape: Protrait Size: 148.5 x 210mm</li>
                <li>A5 - Shape: Landscape Size: 210 x 148.5mm</li>
                <li>A4 - Shape: Protrait Size: 210 x 297mm</li>
                <li>A4 - Shape: Landscape Size: 297 x 210mm</li>
                <li>A3 - Shape: Landscape Size: 400 x 297mm</li>
            </ul>

            <div class="panel-heading text-weight-700">
                Type of Book
            </div>
            <ul>
                <li><span>Duplicate</span> (2 sheets in a Set - <span class="text-danger">100</span> sets per book)</li>
                <li><span>Triplicate</span> (3 sheets in a Set - <span class="text-danger">50</span> sets per book)</li>
                <li><span>Quad</span> (4 sheets in a Set - <span class="text-danger">50</span> sets per book)</li>
            </ul>
        </div>
    </div>
</article>