@* Each form will post to it's own controller action method*@

<form action="/Quote/DocketBook" method="post" class="form-horizontal">

    @{
        Html.RenderPartial("PersonalForm");
    }

    <div class="clearfix"></div>

    <div class="col-sm-10 jp-header-container">
        <h3 class="text-primary text-weight-700">Product Information</h3>
    </div>

    <div class="form-group">
        <label class="sr-only" for="docketbook-type">Docket Type</label>
        <div class="col-sm-10 col-md-5 col-lg-5">
            <div class="input-group">
                <span class="input-group-addon bg-primary" aria-hidden="true">
                    <span class="glyphicon glyphicon-asterisk text-danger" aria-hidden="true"></span>
                </span>
                <select class="form-control" name="docketbook-type" required>
                    <option value>Type</option>
                    <option value="duplicate">Duplicate</option>
                    <option value="triplicate">Triplicate</option>
                    <option value="quad">Quad</option>
                </select>
            </div>
        </div>

        <label class="sr-only" for="docketbook-quantity">Quantity</label>
        <div class="col-sm-10 col-md-5 col-lg-5">
            <div class="input-group">
                <span class="input-group-addon" aria-hidden="true">
                    <span class="glyphicon glyphicon-asterisk text-danger" aria-hidden="true"></span>
                </span>
                <input type="number" inputmode="numeric" class="form-control" id="docketbook-quantity" placeholder="Quantity" required>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="sr-only" for="docketbook-size">Docket Size</label>
        <div class="col-sm-10 col-md-10 col-lg-5">
            <div class="input-group">
                <span class="input-group-addon" aria-hidden="true">
                    <span class="glyphicon glyphicon-asterisk text-danger" aria-hidden="true"></span>
                </span>
                <select class="form-control" name="docketbook-size" required>
                    <option value>Size</option>
                    <option value="a4">A4 - 210 x 297mm</option>
                    <option value="a5">A5 - 148.5 x 210mm</option>
                    <option value="a6">A6 - 105 x 148.5mm</option>
                    <option value="dl">DL - 99 x 210mm</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="sr-only" for="message">Message</label>
        <!-- TODO: Have the right side border here transition into the background so we can't see where the lines are?-->
        <div class="col-sm-10 col-md-10 col-lg-10">
            <textarea rows="10" class="form-control" id="message" placeholder="Any additional information" wrap="hard" required></textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <button class="btn btn-warning form-control" type="reset">CLEAR</button>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-success form-control" formmethod="post" type="submit">SUBMIT</button>
            </div>
        </div>
    </div>
</form>
