<section id="contactUs" class="jp-contact-information">
    
    <div class="col-sm-10 jp-header-container">
        <h3 class="text-primary text-weight-700">Contact Information</h3>
    </div>

    <div class="form-group">
        <label class="sr-only" for="company">Company</label>
        <div class="col-sm-10 col-md-5">
            <div class="input-group">
                <span class="input-group-addon" aria-hidden="true">
                    <span class="glyphicon glyphicon-asterisk text-warning" aria-hidden="true"></span>
                </span>
                <input type="text" inputmode="latin-prose" class="form-control" id="company" placeholder="Company" maxlength="150" autofocus required />
            </div>
        </div>

        <label class="sr-only" for="position">Position</label>
        <div class="col-sm-10 col-md-5">
            <input type="text" inputmode="latin-prose" class="form-control" id="position" placeholder="Position" maxlength="150" />
        </div>
    </div>

    <div class="form-group">
        <label class="sr-only" for="name">Name</label>
        <div class="col-sm-10 col-md-5">
            <div class="input-group">
                <span class="input-group-addon" aria-hidden="true">
                    <span class="glyphicon glyphicon-asterisk text-warning" aria-hidden="true"></span>
                </span>
                <input type="text" inputmode="latin-name" class="form-control" id="name" placeholder="Name" maxlength="150" required />
            </div>
        </div>

        <label class="sr-only" for="telephone">Telephone Number</label>
        <div class="col-sm-10 col-md-5">
            <div class="input-group">
                <span class="input-group-addon" aria-hidden="true">
                    <span class="glyphicon glyphicon-asterisk text-warning" aria-hidden="true"></span>
                </span>
                <input type="tel" inputmode="tel" class="form-control" id="telephone" placeholder="000-0000000" pattern="d{10}" required />
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="sr-only" for="email">Email</label>
        <div class="col-sm-10">
            <div class="input-group">
                <span class="input-group-addon" aria-hidden="true">
                    <span class="glyphicon glyphicon-asterisk text-warning" aria-hidden="true"></span>
                </span>
                <input type="email" inputmode="email" class="form-control" id="email" placeholder="your@email.com" maxlength="254" required />
            </div>
        </div>
    </div>
</section>