@{
    ViewBag.Title = "Services";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    //BundleConfig.UpdateScriptBundle(BundleTable.Bundles.GetBundleFor("~/js/joyceprintjs"), BundleConfig.PageBundle.Home);
}

<section id="services" class="row no-mar-bot add-pad-bot light-grey" role="main" data-test-form-id="frmServices">    
    @*<div class="col offset-s1 s10">*@
    <div class="col offset-s2 s8">

        <h1 class="services-header center-align">OUR SERVICES</h1>

        <div class="row">
            <div class="col s4">
                @Html.Partial("Partial/DocketBooks")
            </div>
            <div class="col s4">
                @Html.Partial("Partial/Stationery")
            </div>
            <div class="col s4">
                @Html.Partial("Partial/DesignService")
            </div>
        </div>
    </div>
</section>