@using JoycePrint.Domain.Models
@model Contact

<section id="contact-us" class="row">

    <div class="col s12">
        <h4>Contact Information</h4>
    </div>

    <div class="input-field col s12 m12 l6">
        <i class="material-icons prefix orange-text text-accent-4">business</i>
        <input type="text" inputmode="latin-prose" class="validate" id="Contact_Company" name="Contact.Company" maxlength="150" 
               pattern="\w+" 
               required 
               data-val-req-msg="Please enter the company name" 
               autofocus/>
        <label for="Contact_Company">Company</label>
        <label for="Contact_Company" class="val-msg"></label>
    </div>

    <div class="input-field col s12 m12 l6">
        <i class="material-icons prefix dark-blue-text">recent_actors</i>
        <input type="text" inputmode="latin-prose" id="Contact_Position" name="Contact.Position" maxlength="150"/>
        <label for="Contact_Position">Position</label>
    </div>

    <div class="input-field col s12 m12 l6">
        <i class="material-icons prefix orange-text text-accent-4">perm_identity</i>
        <input type="text" inputmode="latin-name" class="validate" id="Contact_Name" name="Contact.Name" maxlength="150" 
               pattern="\w+" 
               required 
               data-val-req-msg="Please enter your name or point of contact"/>
        <label for="Contact_Name">Name</label>        
        <label for="Contact_Name" class="val-msg"></label>
    </div>

    <div class="input-field col s12 m12 l6">
        <i class="material-icons prefix orange-text text-accent-4">phone</i>
        <input type="tel" inputmode="tel" class="validate" id="Contact_Telephone" name="Contact.Telephone"                 
               @*pattern="^(\d{10}|\d{9})$"*@ 
               required 
               data-val-req-msg="Please enter a contact number for your quote" 
               @*data-val-pat-msg="Please use numbers only"*@/>
        <label for="Contact_Telephone">Telephone Number</label>
        <label for="Contact_Telephone" class="val-msg"></label>
    </div>

    <div class="input-field col s12 m12 l12">
        <i class="material-icons prefix orange-text text-accent-4">email</i>
        <input type="email" inputmode="email" class="validate" id="Contact_Email" name="Contact.Email" maxlength="254" 
               required
               data-val-req-msg="Did you forget your email" />
        <label for="Contact_Email">Email</label>
        <label for="Contact_Email" class="val-msg"></label>
    </div>

</section>