@using JoycePrint.Domain.Models

@model Contact

<section id="contact-us" class="row no-mar-bot">
    
    <div class="input-field col s12" data-test-company>
        <i class="material-icons prefix orange-text text-accent-4">business</i>        
        <input type="text" inputmode="latin-prose" class="validate" id="Contact_Company" name="Contact.Company" maxlength="150" 
               pattern="( *)(([A-Za-z0-9]+)( *))*" 
               required 
               data-val-req-msg="Please enter the company name"/>
        <label for="Contact_Company">Company</label>
        <label for="Contact_Company" class="val-msg"></label>
    </div>
    
    <div class="input-field col s12" data-test-name>
        <i class="material-icons prefix orange-text text-accent-4">perm_identity</i>
        <input type="text" inputmode="latin-name" class="validate" id="Contact_Name" name="Contact.Name" maxlength="150" 
               pattern="( *)(([A-Za-z]+)(-| *))*" 
               required 
               data-val-req-msg="Please enter your name"/>
        <label for="Contact_Name">Name</label>        
        <label for="Contact_Name" class="val-msg"></label>
    </div>

    <div class="input-field col s12" data-test-email>
        <i class="material-icons prefix orange-text text-accent-4">email</i>
        <input type="email" inputmode="email" class="validate" id="Contact_Email" name="Contact.Email" maxlength="254"
               required
               data-val-req-msg="Did you forget your email" />
        <label for="Contact_Email">Email</label>
        <label for="Contact_Email" class="val-msg"></label>
    </div>

    <div class="input-field col s12" data-test-phone>
        <i class="material-icons prefix orange-text text-accent-4">phone</i>
        <input type="tel" inputmode="tel" class="validate" id="Contact_Phone" name="Contact.Phone"                 
               @*pattern="^(\d{10}|\d{9})$"*@ 
               required 
               data-val-req-msg="Please enter a contact number" 
               @*data-val-pat-msg="Please use numbers only"*@/>
        <label for="Contact_Telephone">Telephone Number</label>
        <label for="Contact_Telephone" class="val-msg"></label>
    </div>

</section>