@using JoycePrint.Domain.Models

@model DocketBook

<section id="docket-book" class="row">

    <div class="input-field col s12">
        <h4 class="primary-text">Product Information</h4>
    </div>

    <div class="input-field col s12 m12 l4">
        <i class="material-icons prefix orange-text text-accent-4">label</i>        
        @Html.EnumDropDownListFor(model => model.Type, "Type", new { @class = "validate", required = "required", data_help = "help-docket-type", data_val_req_msg = "Please make a selection" })   
        <label for="DocketBook_Type">Docket Type</label>
        <label for="DocketBook_Type" class="val-msg"></label>
    </div>

    <div class="input-field col s12 m12 l4">
        <i class="material-icons prefix orange-text text-accent-4">label</i>
        @Html.EnumDropDownListFor(model => model.Size, "Size", new { @class = "validate", required = "required", data_help = "help-paper-size", data_val_req_msg = "Please make a selection" })
        <label for="DocketBook_Size">Docket Size</label>
        <label for="DocketBook_Size" class="val-msg"></label>
    </div> 

    <div class="input-field col s12 m12 l4">
        <i class="material-icons prefix orange-text text-accent-4">label</i>
        <input type="number" inputmode="numeric" class="validate" id="DocketBook_Quantity" name="DocketBook.Quantity" min="1" max="1000000" required data-val-req-msg="How many?">
        <label for="DocketBook_Quantity">Quantity</label>
        <label for="DocketBook_Quantity" class="val-msg"></label>
    </div>     

    <div class="clearfix"></div>

    <div class="input-field col s12">
        <i class="material-icons prefix orange-text text-accent-4">message</i>
        <textarea rows="10" class="materialize-textarea validate" id="DocketBook_Message" name="DocketBook.Message" wrap="hard" required data-val-req-msg="Any additional information"></textarea>
        <label for="DocketBook_Message">Message</label>
        <label for="DocketBook_Message" class="val-msg"></label>
    </div>

</section>