@using JoycePrint.Domain.Models
@model DocketBook

<section id="docketBook">

    <div class="input-field col s12">
        <h3>Product Information</h3>
    </div>

    <div class="input-field col s12 m6">
        <i class="material-icons prefix">label</i>
        @Html.EnumDropDownListFor(model => model.Type, "Type", new { @class = "validate", required = "required" })
        <label for="DocketBook_Type">Docket Type</label>
    </div>

    <div class="input-field col s12 m6">
        <i class="material-icons prefix">label</i>
        <input type="number" inputmode="numeric" class="validate" id="DocketBook_Quantity" name="DocketBook.Quantity" min="1" max="1000000" required>
        <label for="DocketBook_Quantity">Quantity</label>
    </div>

    @*<div class="input-field col s12 l6">
        <i class="material-icons prefix">label</i>
        @Html.EnumDropDownListFor(model => model.Size, "Size", new { @class = "icons", required = "required" })
        <label for="DocketBook_Size">Docket Size</label>
    </div>*@

    <div class="input-field col s12">
        <i class="material-icons prefix">message</i>
        <textarea rows="10" class="materialize-textarea validate" id="DocketBook_Message" name="DocketBook.Message" wrap="hard" required></textarea>
        <label for="DocketBook_Message">Message</label>
    </div>

</section>