@model JoycePrint.Domain.Models.QuoteRequest

@{
    ViewBag.Title = "Trade Docket Books";
    Layout = "~/Views/Shared/_Layout.cshtml";

    BundleConfig.UpdateScriptBundle(BundleTable.Bundles.GetBundleFor("~/js/joyceprintjs"), BundleConfig.PageBundle.All);
}

<div class="container">
    <div class="row">
        <div class="col s12">
            <h6 class="primary-text">Name</h6> : @Model.Contact.Name
            <h6 class="primary-text">Phone</h6> : @Model.Contact.Phone
            <h6 class="primary-text">Email</h6> : @Model.Contact.Email
            <h6 class="primary-text">Company</h6> : @Model.Contact.Company
        </div>

        <div class="col s6">
            <h6 class="primary-text">Message</h6>
            <p>Model.Enquiry.Message</p>
        </div>
    </div>
</div>