@using JoycePrint.Domain.Models
@using JoycePrint.Web

@model QuoteRequest

@{
    ViewBag.Title = "Quote";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    //BundleConfig.UpdateScriptBundle(BundleTable.Bundles.GetBundleFor("~/js/joyceprintjs"), BundleConfig.PageBundle.Quote);
}

<section id="quote" class="row" data-test-form-id="frmQuote">

    <div class="center-align">
        <h2 class="open-sans danger-text" data-test-banner-top>
            Trade Docket Books
        </h2>
    </div>

    <div class="clearfix"></div>

    <div class="col s12 m6 l4 offset-l1">
        @Html.Partial("Partial/DocketHelp")
    </div>

    <div class="clearfix hide-on-med-and-up"></div>

    <div class="col s12 m6 l6">
        @using (Html.BeginForm("Index", "Quote", FormMethod.Post, new { required = "true", id = "frm-quote" }))
            {
            @Html.AntiForgeryToken()

            @Html.EditorFor(model => model.Contact, "ContactForm")

            @Html.EditorFor(model => model.DocketBook, "DocketForm")

            <div class="row">
                <div class="input-field col s12" data-test-message>
                    <i class="material-icons prefix orange-text text-accent-4">message</i>
                    <textarea rows="10" class="materialize-textarea validate" id="Message" name="Message" wrap="hard" required data-val-req-msg="Any additional information"></textarea>
                    <label for="Message">Message</label>
                    <label for="Message" class="val-msg"></label>
                </div>
            </div>

            <div class="row">
                <div class="col s10 offset-s1 m10 offset-m1">
                    <div class="row">
                        @*TODO Change this to come from the config file*@
                        <div class="g-recaptcha" data-sitekey="6LcC2Q0UAAAAADtadrrG_FTRs82tvd2J1fOwK-KW" data-callback="handleCaptcha" data-expired-callback="handleExpiredCaptcha" data-test-recaptcha></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s10 offset-s1 m5 offset-m1 center">
                    <div class="row">
                        <button class="col s12 btn waves-effect orange" type="reset" data-test-clear>CLEAR</button>
                    </div>
                </div>

                <div class="col s10 offset-s1 m5 offset-m1 center">
                    <div class="row">
                        <button class="col s12 btn waves-effect waves-green green" formmethod="post" type="submit" data-test-submit>SUBMIT</button>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="clearfix"></div>

    <div class="center-align">
        <h2 class="open-sans danger-text" data-test-banner-bottom>
            Delivery To Ireland & The UK
        </h2>
    </div>

</section>