@using JoycePrint.Domain.Models
@model QuoteRequest

@{
    ViewBag.Title = "Quote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="quote" class="col s12">

    <div class="center-align">
        <h2>
            Delivery To Ireland & The UK
        </h2>
    </div>

    <div class="row">

        <div class="col s6 m5 offset-m1 l4 offset-l1">
            @Html.Partial("DocketHelp")
        </div>

        <div class="col s6 m6 l6">
            @using (Html.BeginForm("Index", "Quote", FormMethod.Post, new { required = "true" }))
            {
                @Html.AntiForgeryToken()

                @Html.EditorFor(model => model.Contact, "ContactForm")

                @Html.EditorFor(model => model.DocketBook, "DocketForm")

                <div class="col s5 offset-s1 center">
                    <button class="btn waves-effect waves-green green" formmethod="post" type="submit">SUBMIT</button>
                </div>

                <div class="col s5 center">
                    <button class="btn waves-effect orange" type="reset">CLEAR</button>
                </div>
            }
        </div>
    </div>
</section>