@{
    ViewBag.Title = "Trade Docket Books";
    Layout = "~/Views/Shared/_Layout.cshtml";

    BundleConfig.UpdateScriptBundle(BundleTable.Bundles.GetBundleFor("~/js/joyceprintjs"), BundleConfig.PageBundle.All);
}

<section id="error" class="row" data-test-form-id="frmError">
    <h1>Error</h1>

    <p>A general error has occurred.</p>

    <p>Some gremlins are on it</p>
    
    <p>Try clicking <a href="http://www.dev.joyceprint.com/">here</a> to see if they've fixed it</p>
</section>