@model HandleErrorInfo

@{
    ViewBag.Title = "Trade Docket Books";
    Layout = "~/Views/Shared/_Layout.cshtml";

    BundleConfig.UpdateScriptBundle(BundleTable.Bundles.GetBundleFor("~/js/joyceprintjs"), BundleConfig.PageBundle.All);
}

<div class="row">

    <section id="error" class="row" data-test-form-id="frmException">

        <div class="col s12">
            <h1>Error</h1>

            <h3>A exception has occurred, we will be back shortly.</h3>

            <a href="http://www.dev.joyceprint.com/">RETURN TO HOMEPAGE</a>
        </div>

        @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
        {
            <hr />

            <div>
                <p>
                    <b>Exception:</b> @Model.Exception.Message<br />
                    <b>Controller:</b> @Model.ControllerName<br />
                    <b>Action:</b> @Model.ActionName
                </p>
                <div style="overflow: scroll">
                    <pre>
                        @Model.Exception.StackTrace
                </pre>
                </div>
            </div>

            <hr />
        }

    </section>
</div>