@model HandleErrorInfo

@{
    ViewBag.Title = "Trade Docket Books";
    Layout = "~/Views/Shared/_Layout.cshtml";

    BundleConfig.UpdateScriptBundle(BundleTable.Bundles.GetBundleFor("~/js/joyceprintjs"), BundleConfig.PageBundle.All);
}

<div class="row">

    <section id="error" class="row" data-test-form-id="frmException">
        
        <div class="col s12">
            <h1 class="error-header center-align">Error</h1>

            <h3 class="error-body center-align">A general error has occurred, we will be back shortly.</h3>

            <div class="col s12 center">
                <a class="btn-large btn-error waves-effect light-blue" href="/">RETURN TO HOMEPAGE</a>
            </div>
        </div>        

        @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
        {
            <hr />

            <div>
                <p>
                    <b>Exception:</b> @Model.Exception.Message<br />
                    <b>Controller:</b> @Model.ControllerName<br />
                    <b>Action:</b> @Model.ActionName
                </p>
                <div style="overflow: scroll">
                    <pre>
                        @Model.Exception.StackTrace
                    </pre>
                </div>
            </div>

            <hr />
        }

    </section>
</div>