@{
    ViewBag.Title = "Trade Docket Books";
    Layout = "~/Views/Shared/_Layout.cshtml";

    BundleConfig.UpdateScriptBundle(BundleTable.Bundles.GetBundleFor("~/js/joyceprintjs"), BundleConfig.PageBundle.All);
}

<h2>Error</h2>

<p>
    link to return to application
    hide the menu bar
            
    ...an unexpected error occurred, you will have to start over
</p>