@{
    ViewBag.Title = "Trade Docket Books";
    Layout = "~/Views/Shared/_Layout.cshtml";

    BundleConfig.UpdateScriptBundle(BundleTable.Bundles.GetBundleFor("~/js/joyceprintjs"), BundleConfig.PageBundle.All);
}

<section id="error" class="row" data-test-form-id="frmNotFound">
    
    <div class="col s12">
        <h1>404 Error</h1>

        <h3>Sorry, this page cannot be found.</h3>

        <a href="http://www.dev.joyceprint.com/">RETURN TO HOMEPAGE</a>
    </div>   

</section>