<div id="uploadSizeErrorModal">

    <div class="modal-content">
        <div class="row">            
            <div class="col s12">
                <h3 class="error-uploadSize-header">Error - Upload File Size</h3>

                <h5 class="error-uploadSize-body">It seems your request is too large, please zip the file(s).</h5>
                
                <h6 class="error-uploadSize-info">Max File Size - @TempData["maxRequestLength"] mb</h6>
            </div>                
        </div>        
        
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close btn btn-error-uploadSize waves-effect light-blue">Close</a>
    </div>
</div>