<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="providers">
      <section name="analytics" type="Common.Providers.ProviderConfigurationSection, Common.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </sectionGroup>
  </configSections>

  <!-- Application Analytics -->
  <providers>
    <analytics defaultProvider="GoogleAnalytics">
      <providers>
        <clear />
        <add name="GoogleAnalytics"
             type="Common.Analytics.GoogleAnalytics.GoogleAnalytics, Common.Analytics.GoogleAnalytics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
             description="Google analytics provider"             
             enabled="false"
             version="1"
             trackingId="UA-88639794-1"             
             timeout="500"
             url="http://www.google-analytics.com/collect"/>
      </providers>
    </analytics>
  </providers>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <!--Event Listener Log-->
        <add name="eventLogListener" type="System.Diagnostics.EventLogTraceListener" initializeData="Analytics"/>
        <!--File Error log example - this would create the file in the high level website directory -->
        <!--add name="textWriterListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="AnalyticsError.txt"/-->
      </listeners>
    </trace>
  </system.diagnostics>

</configuration>