/****************************************************************************************
 * Error
 * --------------------------------------------------
 * 
 * This file contains the styles used for the error views and static pages
****************************************************************************************/

.error-header {    
    .text-600;
    font-family: "Avenir Heavy";
    color: @color-grey;
    letter-spacing: 0.2rem;

    padding-top: 150px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.error-ajax-header {
    .error-header;
    padding-top: 30px;
}

.error-body {
    .text-600;
    color: @color-grey;
    font-family: "Avenir Book";

    padding-bottom: 50px;
}
.error-ajax-body {
    .text-600;
    color: @color-grey;
    font-family: "Avenir Book";

    padding-top: 30px;    
}

.btn-error {    
    .text-600;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    
    .btn-round;
}

.btn-error-ajax {    
    .btn-error;

    border-radius: 6px 6px;
}