<footer class="row">
    <section class="col-xs-12 bg-primary jp-footer">
        Add footer items here
        
        <!--
        ToDo
        Add a menu in the footer [menu links]
        Move contact us and about us out of the header and have them only in the footer
        Replace these in the header with the pages products and request a quote
        -->
    </section>
</footer>