<header class="row bg-primary">

    <div class="col-sm-5">
        <img src="~/Content/images/jp-logo.jpg" class="img-responsive" alt="JoycePrint Logo" />
    </div>

    <div class="col-sm-7">
        @Html.Partial("_Navigation")
    </div>

</header>