<section class="row" role="navigation">
    <nav class="navbar navbar-default">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right" id="jp-nav">
                    <li id="liHome">                       
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li id="liServices">
                        <a href="@Url.Action("Index", "Services")">Services</a>
                    </li>
                    <li id="liContactUs">
                        <a href="@Url.Action("ContactUs", "Home")">Contact Us</a>
                    </li>
                    <li id="liAboutUs">
                        <a href="@Url.Action("AboutUs", "Home")">About Us</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</section>